/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Start av mina styles */

html {
    scroll-behavior: smooth;
}

header {
    background: white;
}


/* Navbar grejer */


/* .navbar {
    position: absolute;
    top: 10px;
    left: 800px;
} */

.nav-it::after {
    content: '';
    background: red;
    display: block;
    height: 2px;
    width: 100%;
    transition-duration: 1.0s;
    transform: scaleX(0);
}

.nav-it:hover::after {
    background: rgb(19, 95, 226);
    transform: scaleX(1);
}

.nav-it:active::after {
    background: rgb(19, 95, 226);
    transform: scaleX(1);
}

.navbar li a {
    display: inline;
    float: left;
    height: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(112, 112, 255);
    font-size: 14px;
    padding: 5px;
}

.nav1 {
    position: absolute;
    top: 45px;
    left: 650px;
}

.nav2 {
    position: absolute;
    top: 45px;
    left: 720px;
}

.nav3 {
    position: absolute;
    top: 45px;
    left: 810px;
}


/**********************/

.title {
    position: absolute;
    top: -20px;
    left: 350px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.noformat {
    text-decoration: none;
    color: rgb(61, 59, 59);
}

.header {
    position: fixed;
}

.header a {
    padding: 10px 10px;
}

.startsida {
    position: absolute;
    top: 50px;
    left: 1000px;
    float: left;
}

.kontakt {
    position: absolute;
    top: 50px;
    left: 1100px;
    float: left;
}

.header {
    padding: 45px 10px;
    box-shadow: 1px 1px 10px black;
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}

.mainBild {
    position: absolute;
    top: 90px;
    height: 500px;
    width: 100%;
    opacity: 0.8;
    background-image: url(../img/tool-2766836_1920.jpg);
    background-size: cover;
    background-position: center center;
    /* border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%; */
}

.h1text {
    position: absolute;
    font-size: 56px;
    top: 240px;
    width: 100%;
    height: 520px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 0px 20px white;
    color: rgb(43, 43, 43);
}


/* Images */

.img1 {
    position: absolute;
    top: 670px;
    left: 90px;
    width: 260px;
    height: 180px;
}

.img2 {
    position: absolute;
    top: 920px;
    left: 900px;
    width: 260px;
    height: 180px;
}

.img3 {
    position: absolute;
    top: 1800px;
    left: 32%;
    height: 300px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/**************************/


/* Portfolio */

.portfolio p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20cm;
    line-height: 25px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    height: 140px;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
}

.portf1 {
    position: absolute;
    top: 675px;
    left: 400px;
}

.portf2 {
    position: absolute;
    top: 925px;
    left: 70px;
}

.portf3 {
    position: absolute;
    top: 2125px;
    left: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Kontrollera */

.kontrollera {
    position: absolute;
    top: 1200px;
    height: 520px;
    width: 100%;
    background-color: #0d004c;
}

.kontrollera input {
    width: 270px;
    height: 40px;
    padding: 3px;
    font-size: 24px;
    border-radius: 2rem;
    text-align: center;
    box-shadow: -5px -5px 10px black;
}

.kontrollera p {
    color: var(--theme-text-dark);
    padding: 5px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inp1 {
    position: absolute;
    top: 150px;
    left: 170px;
}

.inp2 {
    position: absolute;
    top: 150px;
    left: 770px;
}

.inp3 {
    position: absolute;
    top: 350px;
    left: 170px;
}

.inp4 {
    position: absolute;
    top: 350px;
    left: 770px;
}

.mainK {
    position: absolute;
    top: 20px;
    left: 250px;
}

.namnText {
    position: absolute;
    top: 105px;
    left: 190px;
}

.efternamnText {
    position: absolute;
    top: 105px;
    left: 790px;
}

.emailText {
    position: absolute;
    top: 305px;
    left: 190px;
}

.postText {
    position: absolute;
    top: 305px;
    left: 790px;
}

.kontrolleraButton {
    position: absolute;
    top: 450px;
    left: 42%;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: rgb(255, 166, 0);
    margin: 0 0;
    color: var(--theme-text-dark)
}

.kontrolleraButton:hover {
    background-color: rgb(236, 154, 0);
}


/*******************/

.theme-default {
    --theme-text: #171717;
    --theme-text-dark: #e3e3e3;
    --theme-text-subtle: #5e5e5e;
    --theme-text-invert: white;
    --theme-text-glow-high-contrast: #171717;
    --theme-box-shadow-light: rgba(0, 0, 0, 0.108);
    --theme-box-shadow-medium: rgba(0, 0, 0, 0.132);
    --theme-box-shadow-heavy: rgba(0, 0, 0, 0.18);
    --theme-box-shadow-extra-heavy: rgba(0, 0, 0, 0.22);
    --theme-overlay: rgba(0, 0, 0, 0.7);
    --theme-overlay-invert: white;
    --theme-body-background: white;
    --theme-body-background-medium: #fafafa;
    --theme-body-background-dark: #f2f2f2;
    --theme-border: #e3e3e3;
    --theme-hover-base: #2e2e2e;
    --theme-hover-invert: #fafafa;
    --theme-border-white-high-contrast: rgba(255, 255, 255, 0);
    --theme-border-yellow-high-contrast: rgba(0, 0, 0, 0);
    --theme-code-highlight-background: #fff1cc;
    --theme-visited: #660099;
    --theme-score-low-off: rgba(218, 59, 1, 0.3);
    --theme-score-low: #da3b01;
    --theme-score-medium-off: rgba(255, 187, 0, 0.3);
    --theme-score-medium: #ffbb00;
    --theme-score-high-off: rgba(18, 135, 18, 0.3);
    --theme-score-high: #128712;
    --theme-primary-base: #0065b3;
    --theme-primary-background: #e0f2ff;
    --theme-primary-background-glow-high-contrast: #e0f2ff;
    --theme-primary-dark: #002b4d;
    --theme-primary-hover: #00518f;
    --theme-primary-active: #003a66;
    --theme-primary-box-shadow: rgba(0, 101, 179, 0.3);
    --theme-primary-invert: white;
    --theme-secondary-base: #ababab;
    --theme-secondary-background: #e3e3e3;
    --theme-secondary-background-glow-high-contrast: #e3e3e3;
    --theme-secondary-dark: #2e2e2e;
    --theme-secondary-hover: #c7c7c7;
    --theme-secondary-active: #c7c7c7;
    --theme-secondary-box-shadow: rgba(0, 0, 0, 0.3);
    --theme-secondary-invert: black;
    --theme-tertiary-base: #454545;
    --theme-tertiary-background: #171717;
    --theme-tertiary-background-glow-high-contrast: #171717;
    --theme-tertiary-dark: #e3e3e3;
    --theme-tertiary-hover: #5e5e5e;
    --theme-tertiary-active: #757575;
    --theme-tertiary-box-shadow: rgba(0, 101, 179, 0.3);
    --theme-tertiary-invert: white;
    --theme-success-base: #128712;
    --theme-success-background: #d2f9d2;
    --theme-success-background-glow-high-contrast: #d2f9d2;
    --theme-success-dark: #094409;
    --theme-success-hover: #0f710f;
    --theme-success-active: #0c5a0c;
    --theme-success-box-shadow: rgba(18, 135, 18, 0.3);
    --theme-success-invert: white;
    --theme-info-base: #8763c5;
    --theme-info-background: #e2daf1;
    --theme-info-background-glow-high-contrast: #e2daf1;
    --theme-info-dark: #38225d;
    --theme-info-hover: #7045ba;
    --theme-info-active: #53338a;
    --theme-info-box-shadow: #e2daf1;
    --theme-info-invert: white;
    --theme-warning-base: #ffbb00;
    --theme-warning-background: #fff1cc;
    --theme-warning-background-glow-high-contrast: #fff1cc;
    --theme-warning-dark: #664b00;
    --theme-warning-hover: #cc9600;
    --theme-warning-active: #997000;
    --theme-warning-box-shadow: rgba(255, 187, 0, 0.3);
    --theme-warning-invert: black;
    --theme-danger-base: #da3b01;
    --theme-danger-background: #ffdacc;
    --theme-danger-background-glow-high-contrast: #ffdacc;
    --theme-danger-dark: #651b01;
    --theme-danger-hover: #b23001;
    --theme-danger-active: #7f2201;
    --theme-danger-box-shadow: rgba(218, 59, 1, 0.3);
    --theme-danger-invert: white;
}


/*
.theme-light {
    --theme-text: #171717;
    --theme-text-subtle: #5e5e5e;
    --theme-text-invert: white;
    --theme-text-glow-high-contrast: #171717;
    --theme-box-shadow-light: rgba(0, 0, 0, 0.108);
    --theme-box-shadow-medium: rgba(0, 0, 0, 0.132);
    --theme-box-shadow-heavy: rgba(0, 0, 0, 0.18);
    --theme-box-shadow-extra-heavy: rgba(0, 0, 0, 0.22);
    --theme-overlay: rgba(0, 0, 0, 0.7);
    --theme-overlay-invert: white;
    --theme-body-background: white;
    --theme-body-background-medium: #fafafa;
    --theme-body-background-dark: #f2f2f2;
    --theme-border: #e3e3e3;
    --theme-hover-base: #2e2e2e;
    --theme-hover-invert: #fafafa;
    --theme-border-white-high-contrast: rgba(255, 255, 255, 0);
    --theme-border-yellow-high-contrast: rgba(0, 0, 0, 0);
    --theme-code-highlight-background: #fff1cc;
    --theme-visited: #660099;
    --theme-score-low-off: rgba(218, 59, 1, 0.3);
    --theme-score-low: #da3b01;
    --theme-score-medium-off: rgba(255, 187, 0, 0.3);
    --theme-score-medium: #ffbb00;
    --theme-score-high-off: rgba(18, 135, 18, 0.3);
    --theme-score-high: #128712;
    --theme-primary-base: #0065b3;
    --theme-primary-background: #e0f2ff;
    --theme-primary-background-glow-high-contrast: #e0f2ff;
    --theme-primary-dark: #002b4d;
    --theme-primary-hover: #00518f;
    --theme-primary-active: #003a66;
    --theme-primary-box-shadow: rgba(0, 101, 179, 0.3);
    --theme-primary-invert: white;
    --theme-secondary-base: #ababab;
    --theme-secondary-background: #e3e3e3;
    --theme-secondary-background-glow-high-contrast: #e3e3e3;
    --theme-secondary-dark: #2e2e2e;
    --theme-secondary-hover: #c7c7c7;
    --theme-secondary-active: #c7c7c7;
    --theme-secondary-box-shadow: rgba(0, 0, 0, 0.3);
    --theme-secondary-invert: black;
    --theme-tertiary-base: #454545;
    --theme-tertiary-background: #171717;
    --theme-tertiary-background-glow-high-contrast: #171717;
    --theme-tertiary-dark: #e3e3e3;
    --theme-tertiary-hover: #5e5e5e;
    --theme-tertiary-active: #757575;
    --theme-tertiary-box-shadow: rgba(0, 101, 179, 0.3);
    --theme-tertiary-invert: white;
    --theme-success-base: #128712;
    --theme-success-background: #d2f9d2;
    --theme-success-background-glow-high-contrast: #d2f9d2;
    --theme-success-dark: #094409;
    --theme-success-hover: #0f710f;
    --theme-success-active: #0c5a0c;
    --theme-success-box-shadow: rgba(18, 135, 18, 0.3);
    --theme-success-invert: white;
    --theme-info-base: #8763c5;
    --theme-info-background: #e2daf1;
    --theme-info-background-glow-high-contrast: #e2daf1;
    --theme-info-dark: #38225d;
    --theme-info-hover: #7045ba;
    --theme-info-active: #53338a;
    --theme-info-box-shadow: #e2daf1;
    --theme-info-invert: white;
    --theme-warning-base: #ffbb00;
    --theme-warning-background: #fff1cc;
    --theme-warning-background-glow-high-contrast: #fff1cc;
    --theme-warning-dark: #664b00;
    --theme-warning-hover: #cc9600;
    --theme-warning-active: #997000;
    --theme-warning-box-shadow: rgba(255, 187, 0, 0.3);
    --theme-warning-invert: black;
    --theme-danger-base: #da3b01;
    --theme-danger-background: #ffdacc;
    --theme-danger-background-glow-high-contrast: #ffdacc;
    --theme-danger-dark: #651b01;
    --theme-danger-hover: #b23001;
    --theme-danger-active: #7f2201;
    --theme-danger-box-shadow: rgba(218, 59, 1, 0.3);
    --theme-danger-invert: white;
}

.theme-dark {
    --theme-text: #e3e3e3;
    --theme-text-subtle: #c7c7c7;
    --theme-text-invert: #2e2e2e;
    --theme-text-glow-high-contrast: #e3e3e3;
    --theme-box-shadow-light: rgba(255, 255, 255, 0.108);
    --theme-box-shadow-medium: rgba(255, 255, 255, 0.132);
    --theme-box-shadow-heavy: rgba(255, 255, 255, 0.18);
    --theme-box-shadow-extra-heavy: rgba(255, 255, 255, 0.22);
    --theme-overlay: rgba(0, 0, 0, 0.7);
    --theme-overlay-invert: white;
    --theme-body-background: #171717;
    --theme-body-background-medium: #2e2e2e;
    --theme-body-background-dark: #242424;
    --theme-border: #454545;
    --theme-hover-base: #c7c7c7;
    --theme-hover-invert: #2e2e2e;
    --theme-border-white-high-contrast: rgba(255, 255, 255, 0);
    --theme-border-yellow-high-contrast: rgba(0, 0, 0, 0);
    --theme-code-highlight-background: #0c5a0c;
    --theme-visited: #8980e0;
    --theme-score-low-off: rgba(218, 59, 1, 0.7);
    --theme-score-low: #da3b01;
    --theme-score-medium-off: rgba(255, 187, 0, 0.3);
    --theme-score-medium: #ffc933;
    --theme-score-high-off: rgba(18, 135, 18, 0.7);
    --theme-score-high: #17b517;
    --theme-primary-base: #4db2ff;
    --theme-primary-background: #002b4d;
    --theme-primary-background-glow-high-contrast: #002b4d;
    --theme-primary-dark: #a3d7ff;
    --theme-primary-hover: #0091ff;
    --theme-primary-active: #0065b3;
    --theme-primary-box-shadow: rgba(0, 101, 179, 0.3);
    --theme-primary-invert: black;
    --theme-secondary-base: #757575;
    --theme-secondary-background: #2e2e2e;
    --theme-secondary-background-glow-high-contrast: #2e2e2e;
    --theme-secondary-dark: #e3e3e3;
    --theme-secondary-hover: #919191;
    --theme-secondary-active: #ababab;
    --theme-secondary-box-shadow: rgba(0, 0, 0, 0.7);
    --theme-secondary-invert: white;
    --theme-tertiary-base: #454545;
    --theme-tertiary-background: #171717;
    --theme-tertiary-background-glow-high-contrast: #171717;
    --theme-tertiary-dark: #e3e3e3;
    --theme-tertiary-hover: #5e5e5e;
    --theme-tertiary-active: #757575;
    --theme-tertiary-box-shadow: rgba(0, 101, 179, 0.3);
    --theme-tertiary-invert: white;
    --theme-success-base: #128712;
    --theme-success-background: #094409;
    --theme-success-background-glow-high-contrast: #094409;
    --theme-success-dark: #d2f9d2;
    --theme-success-hover: #17b517;
    --theme-success-active: #4ae84a;
    --theme-success-box-shadow: rgba(18, 135, 18, 0.7);
    --theme-success-invert: black;
    --theme-info-base: #8763c5;
    --theme-info-background: #38225d;
    --theme-info-background-glow-high-contrast: #38225d;
    --theme-info-dark: #e2daf1;
    --theme-info-hover: #9b7dcf;
    --theme-info-active: #a98fd6;
    --theme-info-box-shadow: rgba(38, 23, 63, 0.7);
    --theme-info-invert: white;
    --theme-warning-base: #ffbb00;
    --theme-warning-background: #664b00;
    --theme-warning-background-glow-high-contrast: #664b00;
    --theme-warning-dark: #fff1cc;
    --theme-warning-hover: #ffc933;
    --theme-warning-active: #ffd666;
    --theme-warning-box-shadow: rgba(255, 187, 0, 0.7);
    --theme-warning-invert: black;
    --theme-danger-base: #da3b01;
    --theme-danger-background: #651b01;
    --theme-danger-background-glow-high-contrast: #651b01;
    --theme-danger-dark: #ffdacc;
    --theme-danger-hover: #fe571b;
    --theme-danger-active: #fe8f67;
    --theme-danger-box-shadow: rgba(218, 59, 1, 0.7);
    --theme-danger-invert: white;
}
*/


/**************************/


/* Footer */

.site-footer {
    position: relative;
    top: 2375px;
    height: 250px;
    background-color: #020313;
    padding: 45px 0px 20px;
    font-size: 16px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #bdbdbd;
    text-decoration: none;
}

.site-footer h6 {
    color: #ff7e00;
}

.omoss {
    position: absolute;
    top: 60px;
    left: 50px;
}

.omoss p {
    position: absolute;
    width: 550px;
    top: 40px;
}

.kontakt {
    position: absolute;
    top: 60px;
    left: 650px;
}

.kontakt ul {
    position: absolute;
    top: 40px;
}

.socialMedia {
    position: absolute;
    top: 60px;
    left: 870px;
}

.socialMedia ul {
    position: absolute;
    top: 40px;
}

.socialMedia a {
    text-decoration: none;
    color: #bdbdbd;
}

.socialMedia a:hover {
    color: #3366cc;
    text-decoration: none;
}

.snabbL {
    position: absolute;
    top: 60px;
    left: 1050px;
}

.snabbL ul {
    position: absolute;
    top: 40px;
}

.snabbL a {
    text-decoration: none;
    color: #bdbdbd;
}

.snabbL a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-linje {
    position: absolute;
    top: 270px;
    left: 40px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.329);
    width: 1170px;
    align-self: center;
}

.cpr {
    position: absolute;
    top: 280px;
    text-align: center;
    width: 100%;
}


/*End Footer*/


/* Scrollbar skit */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 151, 151);
}


/* Scrollbar skit ~~ Slut*/