@import "header.css";
@import "footer.css";

body{
    background-image: url('../img/landing-car.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt-white {
    color: #fff;
}