@import "header.css";
@import "footer.css";
@import "var.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover{
  text-decoration:none;
}

ul li {
    list-style-type: none;
    display: inline;
}

ul li a {
    padding: 20px;
}


.landing {
    background-image: url('../img/landing-car.jpg');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.valSelected {
    background-color: var(--val-selected-color);
}


.article-card{
  border-radius: .25rem;
  -webkit-box-shadow: 0 0 0.25rem 0 rgba(35,55,75,.4);
    box-shadow: 0 0 0.25rem 0 rgba(35,55,75,.4);
    margin-bottom: 1rem;
}

.article-card-bar
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #e6e6e6;
}

.avatar-xxs {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background-color: #f6f6f6;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    border: 1px solid var(--article-text-color);
}

.article-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 21px;
    color: var(--article-text-color);
}

.article-bar-status{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info-meta {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--article-text-color);
    margin-right: .5rem;
}

.article-card-cover{
    background-color: #f6f6f6;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.article-card-body {
    padding: .5rem 1rem;
}

.article-card-title {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.article-project-time {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: .25rem 0 0;
    font-weight: 400;
    font-size: .875rem;
    color: var(--article-text-description-color);
}

 .article-info-reward-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 12px;
    margin-bottom: .25rem;
}

.article-card-desciption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--article-text-description-color);
    font-size: .875rem;
}

.article-card-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: .5rem;
    font-size: 1rem;
    color: var(--article-text-color);
    padding: 0 0 .5rem .5rem;
}

.copyright {
    text-align: center;
}